<% if (errors) { %>
  <% errors.forEach(err => { %>
    <p class="info msg alert"><%= err %></p>
  <% }) %>
<% } %>
<% if (success) { %>
  <% success.forEach(msg => { %>
    <p class="info msg success"><%= msg %></p>
  <% }) %>
<% } %>