html{
  height:100%;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
body{
  margin: 0 auto;
  font-family: 'Roboto';
  position: relative;
  min-height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
button:focus{
  outline: 0;
}
input{
  opacity: 0.8;
  color: #545454;
  transition: opacity 0.3s ease-in-out;
}
input:focus{
  outline: 0;
  opacity: 1;
}
.main{
  position: absolute;
  background-color: #f3f3f3;
  margin: 0 auto;
  min-width: 30%;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
}
.btn{
  color: #fff;
  font-weight: 500;
  display: block;
  margin: 0 auto; 
  border: 0;
  border-radius: 15px;
  background-image: linear-gradient( 168.2deg,  rgba(44,207,156,1) 19.3%, rgba(18,235,167,1) 67.5% );
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}
.btn:hover{
  opacity: 1;
}
.btn.login{
  margin-bottom: 10px;
}
.navbar{
  position: absolute;
}
.navbar:after{
  margin: 0;
  display:block;
  content: '';
  clear:both;
}
.logout,
.home{
  color: #fff;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
  float: left;
  margin-left: 15px;
}
.logout:hover,
.home:hover{
  opacity: 1;
}
.login-input{
  margin: 5px auto;
  display: block;
  width: 70%;
  border: 0;
  border-radius: 7px;
  padding: 10px;
}
.login-input:last-of-type{
  margin-bottom: 10px;
}
.info{
  margin-top:0;
  margin-bottom: 10px;
  text-align: center;
  color: #545454;
}
.msg{
  position: absolute;
  background: #f3f3f3;
  opacity: 0.9;
}
.addTodo-input{
  margin-left: 5%;
  margin-right: 2%;
  width: 73%;
  border: 0;
  border-radius: 15px;
  padding: 2.5%;
  float: left;
}
.btn.addTodo{
  float:left;
  min-width: 0;
  width: 10%;
  padding: 2.5%;
  margin: 0 auto;
}
.todos{
  height: 100%;
}
.todo-form{
  margin: 0 auto;
  width: 100%;
}
.todo-form:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
}
.todo-list{
  height: 75%;
}
ul{
  padding: 0;
  margin: 2% 5%;
  list-style-type: none;
  overflow-y:scroll;
  height: 100%;
}
ul::-webkit-scrollbar{
  display:none;
}
li{
  color: #545454;
  width: 95%;
  padding: 2.5%;
  border-radius: 15px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.editTodo-input{
  width: 90%;
  border: 0;
  letter-spacing: 2px;
  padding: 0;
}
.li-active,
li:hover{
  opacity: 1;
  background-color: #fff;
  letter-spacing: 2px;
}
.todo-panel{
  float: right;
}
.todo-panel>i{
  margin-left: 4px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.todo-panel:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
}
.fa-check:hover,
.success{
  color: #1ebf13;
}
.fa-edit:hover{
  color: #4369ff;
}
.fa-trash-alt:hover,
.fa-times:hover,
.alert{
  color: #e21414;
}
.fa-save:hover{
  color: #000;
}
.invisible {
  display: none;
  transition: all 0.2s ease-in-out;
}
@media all and (min-width: 320px){
  .logout,
  .home{
    font-size: 2.0em;
  }
  .navbar{
    top: 4%;
    right: 5%;
  }
  .main{
    top: 20%;
    left: 2%;
    min-width: 96%;
    padding-top: 7%;
    padding-bottom: 7%;
  }
  .dashboard{
    top: 13%;
    height: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .btn{
    min-width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
  }
  .addTodo-input,
  .btn.addTodo{
    font-size: 0.75em;
  }
  .msg{
    font-size: 0.75em;
    margin-bottom: 5px;
    position: absolute;
    top: 4.7%;
    left: 8%;
    background: #f3f3f3;
    padding: 2%;
    border-radius: 10px;
    opacity: 0.9;
    width: 50%;
  }
  .todo-list{
    height: 90%;
  }
  li{
    font-size: 1em;
  }
  .editTodo-input {
    font-size: 1em;
    width: 85%;
  }
}
@media all and (min-width: 375px){
  .navbar{
    right: 6%;
  }
  .addTodo-input,
  .btn.addTodo{
    font-size: 0.9em;
  }
  .msg{
    font-size: 0.8em;
    top: 4.2%;
    left: 9%;
  }
  li{
    font-size: 1.1em;
  }
}
@media all and (min-width: 414px){
  .logout,
  .home{
    font-size: 2.3em;
  }
  .msg{
    font-size: 0.9em;
    top: 4.3%;
  }
  .dashboard{
    height: 78%;
  }
  .addTodo-input,
  .btn.addTodo{
    font-size: 1.0em;
  }
  li{
    font-size: 1.2em;
  }
}
@media all and (min-width: 500px){
  .main{
    min-width: 80%;
    left: 10%;
  }
}
@media all and (min-width: 768px){
  .msg{
    font-size: 1.1em;
    top: 3.5%;
    padding: 1.5%;
    width: 35%;
    left: 30%;
  }
  .logout,
  .home{
    font-size: 2.5em;
  }
  .main{
    min-width: 50%;
    left: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .dashboard{
    min-width: 80%;
    left: 10%;
  }
  .addTodo-input,
  .btn.addTodo{
    font-size: 1.4em;
  }
  .dashboard{
    top: 11.5%;
    /* height: 75%; */
  }
  .todo-list{
    height: 83%;
  }
  li{
    font-size: 1.4em;
  }
  .editTodo-input{
    width: 90%;
  }
}
@media all and (min-width: 1024px){
  .navbar{
    top: 5%;
    right: 5%;
  }
  .msg{
    top: 4.8%;
    padding: 1%;
    width: 20%;
    left: 40%;
  }
  .logout,
  .home{
    font-size: 2.7em;
  }
  .main{
    top: 20%;
  }
  .dashboard{
    top: 15%;
    left: 20%;
    height: 70%;
    min-width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .todo-list{
    height: 85.5%;
  }
}
@media all and (min-width: 1440px){
  .navbar{
    right: 3.5%;
  }
  .msg{
    top: 5%;
    width: 25%;
    left: 36.5%;
  }
  .main{
    top: 20%;
    left: 32.5%;
    min-width: 35%;
  }
  .dashboard{
    top: 15%;
    min-width: 50%;
    left: 25%;
  }
}