<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/messages %>
  <% include ../partials/navbar %>
  <div class="main">
    <% if(user) { %>  
    <button class="btn" id="todos">Todos</button>
    <% } else { %>
    <button class="btn login redirect" name="login">Login</button>
    <button class="btn redirect" name="signup">Sign Up</button>
    <% } %>
  </div>
  <% include ../partials/script %>
</body>
</html>