<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/messages %>
  <% include ../partials/navbar %>
  <div class="main">
    <% if(user) { %>  
      <a class="btn" href="/todos">Todos</a>
    <% } else { %>
      <a class="btn login" href="/user/login">Login</a>
      <a class="btn" href="/user/signup">Sign Up</a>
    <% } %>
  </div>
  <% include ../partials/script %>
</body>
</html>