<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="wrapper">
    <div class="main">
      <% if(user) { %>
      <button class="btn redirect" name="logout">Logout</button>
      <% } else { %>
      <button class="btn login redirect" name="login">Login</button>
      <button class="btn redirect" name="signup">Sign Up</button>
      <% } %>
    </div>
  </div>
  <% include ../partials/script %>
</body>
</html>