<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="wrapper">
    <div class="main">
      <form method="post" name="signup" action="/user/signup">
        <input class="login-input" type="text" name="username" placeholder="Username" required>
        <input class="login-input" type="password" name="password" placeholder="Password" required>
        <input class="login-input" type="password" name="password2" placeholder="Confirm password" required>
        <button type="submit" class="btn" id="signup" name="signup">Sign Up</button>
      </form>
    </div>
  </div>
  <% include ../partials/script %>
</body>
</html>